h1 {
	color: darkgreen;
}

p {
	color: red;
}

.parent {
	margin: 0 32% 0px 32%;
	padding-bottom: 16px;
	margin-top: 162px;
	box-shadow: 0px 0px 4px 0.2px;
}

button
{
	border-radius: 5px;
}

button {
	width: 83px;
}

input {
	height: 22px;
	border-radius: 5px;
}

form {
	background: whitesmoke;
	line-height: 27px;
	color: #966c4e;
	font-weight: bold;
}

label {
	color: black;
	font-weight: bold;
}

body {
	background: whitesmoke;
}